body {
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.endContainer {
    display: flex;
    flex-direction: column;
    margin: 50px;
}
.mainContainer {
    display: flex;
    flex-direction: column;
}

.horizontalContainer {
    display: flex;
    justify-content: center;
}

.welcomeContainer {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background-color: #ffedc7;
    outline: 0.2vw solid #ffedc7;
    border: solid #c0985e 3px;
    width: 700px;
    margin: 30px;
    font-size: x-large;
    text-align: center;
}

.explanationContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 8px;
    background-color: #ffedc7;
    outline: 0.2vw solid #ffedc7;
    border: solid #c0985e 3px;
    justify-content: space-evenly;
    font-size: x-large;
    padding: 20px;
    margin: 20px;
}

.resultContainer {
    display: flex;
    justify-content: space-apart;
    align-items: space-apart;
    border-radius: 8px;
    background-color: #ffedc7;
    outline: 0.2vw solid #ffedc7;
    border: solid #c0985e 3px;
    margin: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.cardButton {
    background-color: black;
    color: #ffedc7;
}

.challengeContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    border-radius: 8px;
    background-color: #ffedc7;
    outline: 0.2vw solid #ffedc7;
    border: solid #c0985e 3px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 30px;
    font-size: x-large;
    text-align: center;
}

.cardContainer {
    display: flex;
    justify-content: space-evenly;
}

.paddingContainer {
    margin: 20px;
}

.basicplayercard {
    border-radius: 8px;
    background-color: #ffedc7;
    outline: 0.2vw solid #ffedc7;
    border: solid #c0985e 3px;
    width: 300px;
}

.playercard {
    border-radius: 8px;
    background-color: #ffedc7;
    outline: 0.2vw solid #ffedc7;
    border: solid #c0985e 3px;
    width: 400px;
}

.cardbottom {
    display: flex;
}

.computercard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    background-color: #ffedc7;
    outline: 0.2vw solid #ffedc7;
    border: solid #c0985e 3px;
    width: 400px;
}

.name {
    display: flex;
    justify-content: center;
    font-size: x-large;
}

.playButton {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.imageContainer {
    display: flex;
    justify-content: center;
    height: 250px;
}

.img {
    max-height: 250px;
    max-width: 200px;
    border: solid #c0985e 3px;
    margin: 10px;
}

.smallImage {
    width: 100px;
    border: solid #c0985e 3px;
    margin: 10px;
}

.attributes {
    display: flex;
    flex-direction: column;
    flex: 0.5;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5px;
}

.result {
    font-size: x-large;
    text-align: center;
}

.radioContainer {
    text-align: center;
    padding: 20px;
}

input {
     accent-color: #232323;
}

#description {
    display: flex;
    flex-direction: column;
    flex: 0.5;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px;
}

button {
    padding: 15px 25px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    outline: none;
    background-color: #ffedc7;
    border: none;
    font-size: 16px;
    border-radius: 15px;
  }
  
  button:hover {background-color: #c0985e}
  
  button:active {
    background-color: #c0985e;
    box-shadow: 0 3px #c0985e;
    transform: translateY(2px);
  }
