<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/main.css') }}">
    <title>Result</title>
</head>
<body>
    <div id = "cardContainer">
        <div class = "playercard">
            <p class = "name">{{player_card.name}}</p>
            <div class = "image"><img></div>
            <div class = "cardbottom">
                <div class = "attributes">
                    {% for attribute, value in player_card.attributes.items(): %}
                    <p class = "playerattribute">{{attribute}}: {{value}}</p>
                    {%endfor%}
                </div>
                <div id = "description"><p></p></div>
            </div>
        </div>
        <div class = "computercard">
            <p class = "name">{{challenge_card.name}}</p>
            <div class = "image"><img src = "music.jpg"></div>
                <div class = "attributes">
                    {% for attribute, value in challenge_card.attributes.items(): %}
                    <button><p class = "computerattribute">{{attribute}}: {{value}}</p></button>
                    {%endfor%}
                </div>
        </div>
    </div>
    <div class = "center"><div class = "resultContainer"><p id = "result"></p></div></div>
    <script src = "app.js"></script>
</body>
</html>