<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/main.css') }}">
    <title>Choose Cards</title>
</head>
<body>
    <div class = "mainContainer">
        <div class = "center"><div class = "challengeContainer"><p id = "challenge">Challenge: {{challenge_card.name}}</p></div></div>
        <form action = "/battle" method = "POST">
            <div id = "cardContainer">
                <div class = "basicplayercard">
                    <p class = "name">{{player_cards[0].name}}</p>
                    <div class = "image"><img></div>
                    <input type = "radio" name = "choice" id = 0 value = 0>
                </div>
                <div class = "basicplayercard">
                    <p class = "name">{{player_cards[1].name}}</p>
                    <div class = "image"><img></div>
                    <input type = "radio" name = "choice" id = 1 value = 1>
                </div>
                <div class = "basicplayercard">
                    <p class = "name">{{player_cards[2].name}}</p>
                    <div class = "image"><img></div>
                    <input type = "radio" name = "choice" id = 2 value = 2>
                </div>
                <div class = "basicplayercard">
                    <p class = "name">{{player_cards[3].name}}</p>
                    <div class = "image"><img></div>
                    <input type = "radio" name = "choice" id = 3 value = 3>
                </div>
            </div>
            <div class = "playButton"><button type = "submit">Submit</button></div>
        </form>

    </div>
</body>
</html>