<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/main.css') }}">
    <title>Choose Cards</title>
</head>
<body>
    <div class = "mainContainer">
        <div class = "horizontalContainer">
            <div class = "challengeContainer">
                <div><p>Challenge: {{challenge_card.name}}</p></div>
                <div><img class = "smallImage" src="{{ url_for('static',filename='images/{}'.format(challenge_card.image))}}"></div>
            </div>
        </div>
        <form action = "/battle" method = "POST">
            <div class = "cardContainer">
                {% for i in range(0, length): %}
                <div class = "basicplayercard">
                    <p class = "name">{{player_cards[i].name}}</p>
                    <div class = "imageContainer"><img class = "img" src="{{ url_for('static',filename='images/{}'.format(player_cards[i].image))}}"></div>
                    <div class = "radioContainer">
                        <input type = "radio" name = "choice" id = "card" value = {{i}}>
                        <label for="card">Select This Card</label>
                    </div>
                </div>
                {%endfor%}
            </div>
            <div class = "playButton"><button type = "submit">Ready to Battle</button></div>
        </form>
    </div>
</body>
</html>