<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/main.css') }}">
    <title>End Game</title>
</head>
<body>
    <div class = "endContainer">
        <div class = "mainContainer">
            <div class = "horizontalContainer"><div class = "welcomeContainer"><p>Game Over!</p></div></div>
            <div class = "horizontalContainer">
                <div class = "resultContainer"><p>Computer Score: {{computer_score}}</p></div>
                <div class = "resultContainer"><p>Player Score: {{player_score}}</p></div>
            </div>
            <div class = "horizontalContainer"><div class = welcomeContainer><p>{{win_status}}</p></div></div>
            <div class = "horizontalContainer">
                <form action="/restart" method="POST">
                <button type="submit">Restart Game</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>