<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/main.css') }}">
    <title>Choose Cards</title>
</head>
<body>
    <div class = "mainContainer">
        <div class = "center"><div class = "challengeContainer"><p id = "challenge">Female Idol Top Trumps</p></div></div>
        <div class = "playButton">
            <form action="/submit/" method="POST">
                <button type = "submit">Play</button>
            </form>
        </div>
    </div>
</body>
</html>