<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/main.css') }}">
    <title>Choose Cards</title>
</head>
<body>
    <div class = "mainContainer">
        <div class = "horizontalContainer">
            <div class = "welcomeContainer">
                <p>Female Idol Top Trumps</p>
            </div>
        </div>
        <div class = "horizontalContainer">
            <div class = "explanationContainer">
                <p>The game will consist of four rounds. At the beginning of the game, you will be dealt four player cards.</p>
                <p>Each player card has certain attributes that highlight that person's strengths.</p>
                <p>Each round you will also be given a challenge card which contains secret attributes.</p>
                <p>You must choose the card that you think will be most likely to defeat the challenge.</p>
                <p>Finally, you will be shown the challenge card attributes and must choose the attribute you want to challenge.</p>
            </div>
        </div>
        <div class = "horizontalContainer">
            <form action="/submit/" method="POST">
                <button type = "submit">Play</button>
            </form>
        </div>
    </div>
</body>
</html>