<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/main.css') }}">
    <title>Choose Cards</title>
</head>
<body>
    <div class = "mainContainer">
        <div class = "horizontalContainer">
            <div class = "welcomeContainer">
                <p>Female Idol Top Trumps</p>
            </div>
        </div>
        <div class = "horizontalContainer">
            <div class = "explanationContainer">
                <p>The game will consist of four rounds. At the beginning of the game, you will be dealt four player cards.</p>
                <p>Each player card contains secret attributes that highlight that person's strengths.</p>
                <p>Each round you will also be given a challenge card which also contains attributes.</p>
                <p>You must use your knowledge of the people on your player cards to choose the card that you think will be the best opponent for that specific challenge.</p>
                <p>Finally, you will choose one of the challenge card attributes. If the attribute exists on your card, and the value is higher or the same as the challenge's then you will win that round.</p>
            </div>
        </div>
        <div class = "horizontalContainer">
            <form action="/submit/" method="POST">
                <button type = "submit">Play</button>
            </form>
        </div>
    </div>
</body>
</html>